{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Display title, author, serves, excerpt and image for recipe -->
<section aria-label="Display recipe title, author, servings, excerpt and image">
  <div class="masthead">
    <div class="container mt-3">
      <div class="row g-0">
        <div class="col-md-6 masthead-text text-center">
          <h1 class="mt-5">{{ recipe.title }}</h1>
          <p>Recipe by {{ recipe.author }} | Serves {{ recipe.serves }}</p>
          <div class="mt-8 pr-4">
            <p><span class="quotes text-start"><i class="fa-solid fa-quote-left"></i></span>{{ recipe.excerpt }}<span
                class="quotes"><i class="fa-solid fa-quote-right"></i></span></p>
          </div>
        </div>
        <div class="d-none d-md-block col-md-6 masthead-image image-prop">
          {% if "placeholder" in recipe.image.url %}
          <img class="card-img-top" src="{% static 'images/default.jpeg' %}" alt="placeholder image">
          {% else %}
          <img class="card-img-top" src=" {{ recipe.image.url }}" alt="{{ recipe.title }}">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Display ingredients and method for recipe -->
<section aria-label="Dispay ingredients and method for recipe">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4 card mr-2 base-color">
        <h2 class="text-center mt-3">Ingredients</h2>
        <p>{{ recipe.ingredients | safe }}
      </div>
      <div class="col-md-8">
        <h2 class="text-center mt-3">Method</h2>
        <p>{{ recipe.method | safe }}
      </div>
    </div>
  </div>
</section>
<hr>
<!-- Display Comments -->
<section aria-label="Display comments">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3 class="text-center">Comments</h3>
      <div class="card card-body">
        {% if comments|length == 0 %}
        <p>No comments left. Please leave a comment in the comment form</p>
        {% elif comments.approved == false %}
        <p>There are comments awaiting approval, before being shown to all users</p>
        {% endif %}
        {% for comment in comments %}
        <div class="card p-2 comments card-body
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold sm-italic">
            {{ comment.author }}
            wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          <div class="sm-italic">
            {{ comment.created_on }}
            {% if user.is_authenticated and comment.author == user %}
            <button class="btn edit-button button-style ml-5" data-comment-id="{{ comment.id }}" aria-label="Button to edit comment written by user">Edit</button>
            <button class="btn delete-button button-style delete" data-comment-id="{{ comment.id }}" aria-label="Button to delete users comment">Delete</button>
            {% endif %}
          </div>
          <div class="row text-end ml-6">
            {% if not comment.approved and comment.author == user %}
            <p class="approval sm-italic">
              This comment is awaiting approval
            </p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<hr>
<!-- Creating New Comments -->
<section aria-label="leave a comment form">  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mb-4 ml-3 mr-3 mt-3">
      {% if user.is_authenticated %}
      <h4 class="text-center">Leave a comment, from {{ user.username }}:</h4>
      <div class="">
        <form id="comment-form" method="post" class="card card-body">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" id="submit-update" class="btn btn-signup btn-lg button-style" data-bs-toggle="modal"
            data-bs-target="#commentModal" aria-label="Button to submit comment. Changes to update comment when comment has been edited">Submit</button>
        </form>
        {% else %}
        <p>Please <span><a href="{% url 'account_login' %}" aria-label="Link to login page">log in</a></span> to leave a comment</p>
        {% endif %}
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>
<!-- Delete confirmation modal -->
<aside class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content mod-sty">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close button"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary button-style" data-bs-dismiss="modal" aria-label="Close delete modal. Comment is not deleted and user is returned to page">Close</button>
        <a id="deleteConfirm" class="btn button-style delete" aria-label="Confirm delete comment. Comment is deleted and user is returned to page">Delete</a>
      </div>
    </div>
  </div>
</aside>

{% endblock content %}

{% block js %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}