/* Make the whole page a flex container */
html,
body {
    height: 100%;
}

body {
    background-color: rgb(255, 188, 81);
    display: flex;
    flex-direction: column;
}

/* The page content takes up all the space except for the footer
.content-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
} */

.base-color {
    background-color: #C03B30;
    color: #ffffff
}

.base-color a {
    color: #ffffff
}

.capital {
    font-weight: bold;
    font-size: 33px;
}

.card-body {
    background-color: rgb(250, 169, 89);
}

a {
    text-decoration: none;
}

/* Custom styles for buttons */
.button-style {
    color: #ffffff;
    background-color: #C03B30 ;
    padding: 5px;
    width: 80px;
    border: 2px solid #000000;
    border-radius: 6px;
}

.delete {
    background-color: red;
    color:#ffffff;
}

.button-style:hover {
    border: 2px solid #000000;
    color:#000000;
}

.sm-italic {
    font-size: small;
    font-style: italic;
}

.account {
    height: 100%;
    /* max-width: 75%; */
}

.border {
    border: 2px solid #000000 ;
}

.message {
    background-color: rgb(250, 169, 89) ;
    margin-top: 18px;
    text-align: center;
}

.quotes {
    padding: 9px;
    font-size: 30px;
}

.hover {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover:hover {
    opacity: 0.8;
    text-decoration: underline;
    text-decoration-color: black;
}

.mod-sty {
    background-color: rgb(252, 190, 128);
}

/* main {
    height: 100%;
} */

/* Push the footer to the bottom */
.bottom {
    margin-top: auto;
    width: 100%;
}

footer {
    bottom: 0;
}

#id_body {
    background-color: rgb(252, 190, 128)
}